<meta charset="urtf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= @passed_data[:title] %></title>
<style rel="stylesheet" type="text/css" src="<%= include_asset("assets/style.css")%>"></style>
